.divider.no-print
.wrapper.section.clear.no-print
	.section-description
		%h3 For Internal Use
		%p Use this area to add additional information about this purchase order.
	.section-content
		.card
			%h4 Label
			%input{:class => "string" }
