= render :partial => "shared/header", :locals => {:title => "New Purchase Order",:icon => "fa-list-alt"}
.wrapper
	.card.purcuahseorder
		.purcuahseorder-header.clear
			.purcuahseorder-number
				.text-label Purchase Order
				.number
					EMP.#{number_with_delimiter(@purchase_order.number, :delimiter => '.')}
			.purcuahseorder-address
				The Emporium
				%br>/
				47 Main Street
				%br>/
				Ottawa, Ontario K1S 1B1
			.purcuahseorder-date
				.text-label Date
				.date
					=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
		= render 'form'
