  <nav class="clearfix">
    <h1><a href="/marketing"><%= image_tag "swiftordersLogo.jpg" %></a></h1>
    <div class="navButtons">
      <a href="/marketing#index"><button>Home</button></a>
      <a href=""><button>Features</button></a>
      <a href="/pricing"><button>Pricing</button></a>
      <a href=""><button>Help</button></a>
      <a href="/login"><button>Log In</button></a>
      <a href="/signup"><button class="signUpButton">Sign Up Free</button></a>
    </div> <!-- end navButtons -->
  </nav>