<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swiftorders, Absolutely Easy Purchase Orders for Your Business</title>
  <link rel="icon" type="image/x-icon" href="favicon.gif">
  <!-- TYPOGRAPHY -->
  <!-- ideal sans -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6317272/712246/css/fonts.css" />
  <!-- pacifico -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- helvetica -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/064d369a-c717-4ea9-95f5-2158eabd48f8.css"/>
  <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <nav class="clearfix">
    <h1><img src="swiftordersLogo.jpg" height="84" width="300" alt=""></h1>
    <ul>
      <li>Features</li>
      <li>Pricing</li>
      <li>Help</li>
      <li>Log In</li>
      <li><button><a href="start.html">Sign Up Free</a></button></li>
    </ul>
  </nav>
  <header class="clearfix">
    <h2>Absolutely Easy Purchase Orders<span>for</span>Your Modern Business</h2>
    <h3>Swiftorders is cloud based software for better business purchasing. Get started now — it's free for 60 days.</h3>
    <p>No credit card required</p>
    <form action="startMod.html">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Password">
      <input type="submit" value="Begin Free Trial">
    </form>
    <div class="headerSection">
      <div class="betterPOs">
        <h4>Much Better POs</h4>
        <p>Swiftorders makes it simple to order goods and coordinate with suppliers. Manage purchase orders with ease. Delight your customers by delivering on time, and with no costly mistakes.</p>
      </div> <!-- end betterPOs -->
      <img src="computer.jpg" height="-1" width="-1" alt="">
    </div> <!-- end headerSection -->
  </header>
  <main>
    <h2>Say goodbye to painful purchasing.</h2>
    <h3>If you're using a PO book, sending orders by fax, or managing a folder full of PDF attachments, you're going to love Swiftorders. We make business purchasing easy. Send POs in moments. Managing orders is a breeze. </h3>
    <img src="happyCustomer.jpg" height="366" width="727" alt="">
  </main>

  <footer>
    <p>Copyright 2015 Swiftorders<p>
  </footer>

  
</body>
</html>