<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swiftorders, Absolutely Easy Purchase Orders for Your Business</title>
  <link rel="icon" type="image/x-icon" href="favicon.gif">
  <!-- TYPOGRAPHY -->
  <!-- ideal sans -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6317272/712246/css/fonts.css" />
  <!-- pacifico -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- helvetica -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/064d369a-c717-4ea9-95f5-2158eabd48f8.css"/>
  <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- Stylesheet -->
  <%= stylesheet_link_tag "marketing" %> 
</head>
<body>
  <nav class="clearfix">
    <h1><%= image_tag "swiftordersLogo.jpg" %></h1>
    <ul>
      <li>Features</li>
      <li>Pricing</li>
      <li>Help</li>
      <li><a href="http://swiftorders.com">Log In</a></li>
      <li><button><a href="users/sign_up">Sign Up Free</a></button></li>
    </ul>
  </nav>
  <header class="clearfix">
    <h2>Simple Pricing, No Surprises</br>30 Day Free Trial</h2>
    <h3>Try Swiftorders risk-free for 30 days. No contracts. No credit card required.</h3>
    <h3>When the free trial ends, pick the best plan for your business.</h3>
    <button class="getStarted">Get Started</button>
    <div class="pricingHeaderSection">
      <table class="pricing">
        <tr class="pricing1">
          <th></th>
          <th class="popular">Most Popular</th>
          <th></th>
        </tr>
        <tr class="pricing2">
          <th>Starter</th>
          <th class="middle top">Professional</th>
          <th>High Volume</th>
        </tr>
        <tr class="pricing3">
          <td><span>$9</span> / mo</td>
          <td class="middle"><span>$18</span> / mo</td>
          <td><span>$27</span> / mo</span></td>
        </tr>
        <tr class="pricing4">
          <td>
            <ul>
              <li><span>50</span> Email POs</li>
              <li><span>15</span> Fax POs</li>
              <li><span>30</span> Vendors</li>
              <li>Email Support</li>
            </ul>
          </td>
          <td class="middle">
            <ul >
              <li><span>150</span> Email POs</li>
              <li><span>45</span> Fax POs</li>
              <li><span>90</span> Vendors</li>
              <li>Duplicate as New</li>
              <li>Email Support</li>
            </ul>
          </td>
          <td>
            <ul>
              <li><span>Unlimited</span> Email POs</li>
              <li><span>300</span> Fax POs</li>
              <li><span>Unlimited</span> Vendors</li>
              <li>Duplicate as New</li>
              <li>Priority Support</li>
            </ul>
          </td>
        </tr>
        <tr class="pricing5">
          <td><button>Try Swiftorders</button></td>
          <td class="middle"><button>Try Swiftorders</button></td>
          <td><button>Try Swiftorders</button></td>
        </tr>
      </table>
      <p>* Subscriptions are billed in US dollars and are subject to government taxes and prevailing charges.</p>
    </div> <!-- end headerSection -->
  </header>
  <main class="clearfix">
    <h2>Try it free for 30 days,</br>with no credit card required.</h2>
    <div class="plans clearfix">
    <h3 class="allPlans">All Plans Include</h3>
        <ul class="leftPlan">
          <li>Customer support</li>
          <li>Extra easy set-up</li>
          <li>Send POs by fax or email</li>
          <p>See all features</p>
        </ul>
        <ul class="rightPlan">
          <li>Fast PO search</li>
          <li>Multiple ship-to addresses</li>
          <li>Editable PO template</li>
        </ul>
      </div> <!-- end plans -->
      <button class="letsGo">Okay, Let's go!</button>
  </main>
  
  <footer>
    <p>Copyright 2015 Swiftorders<p>
  </footer>
</body>
</html>