= render :partial => "shared/header", :locals => {:title => "Edit Vendor",:icon => "fa-truck"}
.card
	= render 'form'
	.buttons
		= link_to 'Delete Vendor', @vendor, :method => :delete, :data => { :confirm => 'Are you sure?' }
		\|
		= link_to 'Back', vendors_path
