!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Purchase order for you, #{@email}
    %p
      You have received a new purchase order
      your email is: #{@email}.
      %br/
    %p Thanks for reading and have a great day!