New Purchase order for you, <%= @email %>
===============================================
 
You have received a new purchase order,
your email is: <%= @email %>.
  
Thanks for reading and have a great day!