/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"

html
	max-height: 100%
	height: 100%

body
	max-height: 100%
	height: 100%
	background: #8a9495
	margin: 0px
	padding: 0px
	font-family: "proxima-nova",sans-serif
	font-size: 15px

h1,h2,h3,h4,h5,h5
	font-weight: 300
	margin: 0
	padding: 0

.clear
	&:after
		content: "."
		display: block
		clear: both
		visibility: hidden
		line-height: 0
		height: 0
.credits
	display: none
.buttons
	text-align: right
	margin: 15px 0 0 0

.btn
	display: inline-block  
	padding: 6px 12px  
	margin-bottom: 0  
	font: 400 14px/14px "proxima-nova", sans-serif  
	text-align: center  
	white-space: nowrap  
	vertical-align: middle  
	cursor: pointer  
	-webkit-user-select: none  
	-moz-user-select: none  
	-ms-user-select: none  
	user-select: none  
	background-image: none  
	border: 1px solid transparent  
	border-radius: 4px
	color: #fff
	i
		margin: 0 6px 0 0

.btn-edit
	background-color: #fcf7ee
	color: #e5b558
	border: solid 1px #efd39b
.btn-add
	background-color: #e1fcda
	color: #499a27
	border: solid 1px #c9f2bd
.btn-draft
	color: #c0c0c0
	background-color: #f9f9f9
	border: solid 1px #d9d9d9
.small-btn
	font: 400 10px/10px "proxima-nova", sans-serif
	display: none
	border-radius: 3px
	padding: 4px 5px 3px 5px

.log-in
	width: 320px
	margin: 0px auto
	text-align: center
	padding: 60px 0 0 0
	h2
		font-size: 21px
		color: #f8fffa
		margin: 0 0 20px 0
	label
		color: #c9dfd0
		font-weight: 400
	.form-inputs
		text-align: left
		margin: 0 0 20px 0

	input[type=email], input[type=password]
		padding: 10px
		width: 100%
		border-radius: 4px
		border: 1px solid #9a9f99
		outline: none
	.boolean
		.controls, input[type="checkbox"], label
			display: inline
			margin: 0
			vertical-align: bottom
		input[type="checkbox"]
			margin: 4px 0 0 8px

.app-wrapper
	max-width: 1440px
	min-width: 768px
	margin: 0px auto
	background: #f1f1f1
	max-height: 100%
	height: 100%
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5)
	position: relative

.divider
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)

p.notice
	position: absolute
	margin: 0px
	bottom: 0
	z-index: 99
	width: 100%
	text-align: center
	padding: 20px
	color: #fff
	background: #000

.sidebar
	position: absolute
	top: 0
	bottom: 0
	left: 0
	display: block
	width: 190px
	overflow: hidden
	padding: 0
	z-index: 10
	font: 600 13px/18px "proxima-nova", sans-serif
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	background-color: #2e404f
	color: #B4B4B4
	
	.header
		background-color: #19232b
		padding: 21px 20px 41px 20px
		h1
			font-size: 13px

	ul
		padding: 0px
		margin: 0px
		list-style: none

		i
			margin: 0 6px 0 0

		a
			color: #a9a9a9
			font-weight: 600
			padding: 11px 20px 11px 25px
			display: block
			text-decoration: none
			border-bottom: 1px solid rgba(255, 255, 255, 0.1)
			
			&.current
				background: rgba(255, 255, 255, 0.1)
				border-left: 5px solid #ea4e1b
				padding: 11px 20px 11px 20px
				color: #f9f9f9

			&:hover
				color: #fff
				background-color: #293846

.content
	position: relative
	z-index: 2
	float: right
	width: calc(100% - 190px)
	max-height: 100%
	height: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

	a
		color: #0aa29b
		&:hover
			color: #411051

	.page-header
		border-bottom: 1px solid #e4e4e4
		padding: 15px 25px
		margin: 0
		background: #fff

		h2
			font-size: 21px
			color: #2e404f

	
	table
		border-collapse: collapse  
		margin: 0  
		padding: 0  
		width: 100%  

		th
			text-align: left
			padding: 0px 10px 5px 10px
		td
			padding: 6px 10px
			border-top: 1px solid #dedfe3
			vertical-align: top

	.wrapper
		padding: 20px

	.card
		background: #fff  
		padding: 25px  
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
		outline: none  
		border: 1px solid #e7e7e7  
		-webkit-border-radius: 4px  
		-moz-border-radius: 4px  
		border-radius: 4px  

		.text-label
			font-size: 12px
			color: #a1a8c2
			font-weight: 400
			
		h4
			font-size: 14px
			font-weight: 600
			margin: 0 0 10px 0

	.purcuahseorder
		background: #f8f7f3
		label
			display: none
		.purcuahseorder-vendor
			border-bottom: 1px solid #dedfe3
			padding: 15px 0
			.to
				font-size: 18px
				color: #a1a8c2
				font-weight: 600
				float: left
				margin: 0 10px 0 0
			.vendor-select
				float: left
		.purcuahseorder-input
			min-height: 315px
			background: url('line.png')
			p
				margin: 0 0 21px 0
			textarea
				font: 400 14px/21px "proxima-nova", sans-serif
				-webkit-box-sizing: border-box
				-moz-box-sizing: border-box
				box-sizing: border-box
				outline: none
				border: none
				background: none
				width: 100%
				height: 100%
				resize: none
		.purcuahseorder-header
			border-bottom: 1px solid #dedfe3
			padding: 0px 0 15px 0
			
			.purcuahseorder-date
				float: right
				margin: 10px 0 0 0

			.purcuahseorder-number
				float: left
				margin: 10px 0 0 0
				
				.number
					color: #ea4e1b
					font-size: 18px
				
			.purcuahseorder-address
				float: left
				font-style: normal
				color: #a1a8c2
				font-size: 14px
				margin: 0 0 0 25px
				border-left: 1px solid #dedfe3
				padding: 5px 0 5px 10px
	.purcuahseorder.saved
		background: #f8f7f3 url('po-sent.png') bottom left repeat-x

@media only screen and (max-width: 768px)
	.app-wrapper
		min-width: 320px

	.sidebar
		width: 72px
		.header
			display: none
		ul
			li
				i
				font-size: 28px
				.text
					display: none
			a
				padding: 14px 5px 14px 20px
				&.current
					padding: 14px 15px 14px 15px
	.content
		width: calc(100% - 72px)


@media print
	body
		background: none
		font-size: 15px
	.sidebar, .page-header, .buttons
		display: none
	.credits
		display: block
		text-align: center
		font-size: 10px
		p
			margin: 0 0 2px
			color: #999999
	.content
		padding: 0px

