.sidebar
  %ul
    %li.header
      %h1
        The Emporium
      = link_to destroy_user_session_path, method: :delete do
        %i.fa.fa-sign-out.fa-fw
        %span.text Log out
    %li.orders
      = link_to purchase_orders_path, class: cp(purchase_orders_path) do
        %i.fa.fa-list-alt.fa-fw
        %span.text Purchase Orders
    %li.vendors
      = link_to vendors_path, class: cp(vendors_path) do
        %i.fa.fa-truck.fa-fw
        %span.text Your Vendors
    %li.settings
      = link_to company_path(@company) do
        %i.fa.fa-cog.fa-fw
        %span.text Company
    %li.account
      %a{:href => "#"}
        %i.fa.fa-user.fa-fw
        %span.text Account
